@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/old_school_point.svg'), auto;
    scroll-behavior: smooth;
}

html a:hover, button:hover {
    cursor: url('/assets/graphics/old_school_hover.svg'), auto;
}

body { 
    height: 100vh; 
    height: 100dvh;
    margin: 0;
    background-color: whitesmoke;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
} 

.page {
    display: flex;
    width: 100%;
    height: 100%;
}

.header {
    position: fixed; 
    left: 0; 
    top: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    padding: 0; 
    border-bottom: 3px solid #111;
    background-color: whitesmoke;
}

nav.title {
    position: relative;
    flex: .4; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 1.5rem;
}

nav.links {
    position: relative; 
    display: flex; 
    flex: .6;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 1.5rem;
}

nav a:nth-child(n+2) {
    padding-left: .5rem;
}

nav.title a, nav.links a {
    color: #111;
}

nav.links a.active {
    color: blue;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
}

p {
    font-family: 'ABC Diatype', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.031rem,3vw,1.094rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.6;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    opacity: .7;
}

form {
    padding: 9rem 2rem 0 2rem;
    width: 100%;
    max-width: 32rem;
}

#hola {
    display: flex;
    justify-content: center;
    color: blue;
}

label {
    font-family: "ABC Diatype", sans-serif, Helvetica, system-ui;
    color: #111;
    
}

input, textarea {
    font-family: "ABC Diatype", sans-serif, Helvetica, system-ui;
    font-size: .95rem;
    background-color: white;
    width: 100%;
    border: none;
    border-radius: .15rem .15rem .15rem .15rem;
    margin: .5rem 0 2rem;
    padding: 1rem .5rem 1rem .5rem;
}

button {
    font-family: 'ABC Diatype Medium', sans-serif, Helvetica, system-ui;
    font-size: .95rem;
    color: blue;
    background: whitesmoke;
    border: 2px solid blue;
    border-radius: .15rem .15rem .15rem .15rem;    
    padding: .5rem 1.5rem;
}

button:hover {
    color: fuchsia;
    border: 2px solid fuchsia;
}

::placeholder {
    color: #111;
    opacity: .4;
    text-decoration: line-through;
}

/*Thanks message*/

.thanks-message {
    font-family: 'ABC Diatype', sans-serif, Helvetica, system-ui;
    font-size: clamp(1.031rem,3vw,1.094rem);
    color: #111;
    text-align: center;
}

.footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    padding: 0; 
    border-top: 3px solid #111;
    background-color: whitesmoke;
}

.footer {
    .title {
    position: relative; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 50%; 
    padding-left: 1.5rem;
    }

    .copyright {
    position: relative; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: 50%; 
    padding-right: 1.5rem;
    }
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        display: block;
        height: 100%;
    }

    header {
        position: fixed;
        display: flex;
        top: 0;
        width: 100%;
        height: 4rem;
        padding: 3.5rem 0;
    }

    nav a,
    .footer p {
        font-size: 1rem;
    }

    form {
        padding: 7.5rem 1.5rem;
    }
}