@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/old_school_point.svg'), auto;
    scroll-behavior: smooth;
}

html a:hover {
    cursor: url('/assets/graphics/old_school_hover.svg'), auto;
}

body { 
    background-color: whitesmoke;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
} 

header {
    position: fixed; 
    left: 0; 
    top: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    background-color: whitesmoke;
    border-bottom: 3px solid #111;
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
}

nav svg.logo {
    margin-right: .65rem;
}

nav.title {
    position: relative;
    flex: .4; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

nav.links {
    position: relative; 
    display: flex; 
    flex: .6;
    justify-content: flex-end; 
    align-items: center;
}

nav.links a:nth-child(n+2) {
    padding-left: .75rem;
}

nav a {
    font-family: 'ABC Diatype', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.063rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.6;
}

nav:not(.title) a.active,
nav a:hover {
    color: #4242FF;
}

.page {
    display: flex;
    min-height: 100dvh;
    min-height: 100vh; 
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {
    max-width: 38rem;
    margin: 0 auto;
    padding: 5rem 1.5rem 0 1.5rem;
}

article:first-of-type {
    padding-top: 10rem;
}

article:last-of-type {
    padding-bottom: 5rem;
}

article:not(:last-of-type)::after {
    content: "";
    display: block;
    height: 5rem;
    border-bottom: 3px solid #111;
}

p {
    font-family: 'ABC Diatype', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.063rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.6;
}

h2 {
    font-family: 'ABC Diatype Medium', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.49rem,4vw,1.65rem);
    font-weight: 500;
    font-style: normal;
    color: #111;
    line-height: 1.4;
    margin: 0 0 1.5rem;
}

h3 {
    font-family: 'ABC Diatype', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.95rem,4vw,2.2rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.2;
}

h1 {
    font-family: 'ABC Diatype Medium', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.49rem,4vw,1.75rem);
    font-weight: 500;
    font-style: normal;
    color: #111;
    line-height: 1.2;
    margin: 0 0 1.5rem;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-family: 'ABC Diatype Medium', sans-serif, Helvetica, Arial, system-ui;
    font-weight: 500;
}

a {
    color: #4242FF;
    text-decoration: none;
}

a:any-link:hover {
    color: #4242FF;
}

.visual img,
.visual video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: .5rem .5rem .5rem .5rem;
    padding: .5rem 0 2.5rem;
}

video {
    object-fit: cover;
}

audio {
    width: 100%;
    margin-top: 2rem;
}

blockquote {
    margin: 2rem auto;
}

blockquote h2 {
    font-size: clamp(1.1rem,3vw,1.2rem); 
    text-transform: uppercase;
    color: #111;
    border-left: 4px solid #4242FF;
    padding-left: 1rem;
}

.source {
    text-align: right;
}

.source:before {
    content:"—";
}

hr {
    display: block;
    height: 2px;
    background: #111;
    border: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.pagination-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pagination .next {
    padding-right: clamp(1rem,3vw,1.5rem);
}

.pagination .back {
    padding-left: clamp(1rem,3vw,1.5rem);
}

.pagination p {
    color: #4242FF;
}

footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    background-color: whitesmoke;
    border-top: 3px solid #111;
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
}

footer .title {
    position: relative; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 60%; 
}

footer .copyright {
    position: relative; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: 40%;
}

/*——Special classes*/

p.small {
    font-size: 1rem;
}

p.date {
    font-family: 'ABC Diatype', sans-serif, Helvetica, Arial, system-ui;
    padding-top: 2rem;
}

p.all-caps {
    font-family: 'ABC Diatype Medium', sans-serif, Helvetica, Arial, system-ui;
}

.coda {
    text-align: center;
    padding-bottom: 2rem;
}

svg.coda {
    width: clamp(24px,1.75vw,26px);
    height: auto;
}

svg.arrow-left {
    width: clamp(11px,2vw,12px);
    height: auto;
    margin-right: .2rem;
}

svg.arrow-right {
    width: clamp(11px,2vw,12px);
    height: auto;
    margin-left: .2rem;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        display: block;
    }

    article {
        max-width: 36rem;
        padding: 4rem 1rem 0 1rem;
    }

    article:not(:last-of-type)::after {
        height: 4rem;
    }

    article:first-of-type {
        padding-top: 8rem;
    }

    .pagination {
        padding-bottom: 8rem;
    }

    .logo {
        display: none;
    }
}