.post-intro {
    display: block;
    padding: var(--space-2) 0;
    border-top: 2px dotted var(--primary);
    border-bottom: 2px dotted var(--primary);
}

.post-intro .category {
    display: inline-block;
    padding: .15rem .75rem;
    border-radius: .75rem;
    font-variation-settings: "wdth" 80, "wght" 450;
    text-transform: uppercase;
    background-color: var(--primary);
}

.post-intro .category a {
    color: var(--background);
}

.post-intro .category:hover  {
    outline: 1.5px solid var(--primary);
    outline-offset: 3px;
    cursor: pointer;
}

.post-intro .category a:focus-visible {
    outline: 3px solid var(--highlight);
    outline-offset: .95rem;
}

.font-toggle {
    display: inline-flex;
    position: relative;
    width: fit-content;
    margin-block-start: var(--space-3);
    padding: 2px;
    border: 1px solid var(--accent);
    border-radius: 50px;
    background: var(--background);
}

.toggle-option {
    position: relative;
    padding: 0.5rem 1.25rem;
    font-size: var(--paragraph);
    font-weight: 500;
    color: var(--accent);
    background: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-option:first-child {
    border-radius: 50px 0 0 50px;
}

.toggle-option:last-child {
    border-radius: 0 50px 50px 0;
}

.toggle-option .sans {
    font-family: var(--body);
}

.toggle-option .serif {
    font-family: Georgia, serif;
}

.toggle-option.active {
    color: var(--background);
    background-color: var(--primary);
    pointer-events: none;
}

@media (hover:hover) and (pointer:fine) {
.toggle-option:not(.active):hover {
    color: var(--primary);
    }
}

.post-content {
    margin-block-start: var(--space-2);
    margin-block-end: var(--space-3);
}

.post-content.serif-mode,
.feed-link.serif-mode {
    font-family: Georgia, serif;
}

blockquote,
figure  {
    margin-block-start: var(--space-2);
    margin-block-end: var(--space-2);
}

blockquote > * + * {
    margin-block-start: var(--space-0);
}

blockquote {
    padding-left: 1.5rem;
    border-left: 2px solid lightgray;
}

img {
    width: 100%;
    height: auto;
}

figure.with-caption {
    margin-block-start: var(--space-2);
    margin-block-end: var(--space-2);
}

figure.with-caption figcaption {
    margin-block-start: var(--space--3);
    font-family: Georgia, serif;
    font-size: calc(var(--paragraph) * 0.85);
    font-style: italic;
    color: var(--caption);
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    font-family: var(--display);
    font-size: calc(var(--paragraph) * 1.2);
    line-height: 1.2;
    text-transform: uppercase;
}

.post-navigation > a.next:only-child {
    margin-left: auto;
}