{% extends "base.html" %}
{% block title %}{% if title != 'Home' %}{{ title }} - {% endif %}This Is A Blog{% endblock %}
{% block site_title %}<h1><a class="site-title" href="/">This Is A Blog</a></h1>{% endblock %}
{% block content %}
<style>.index-list{display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;list-style:none;}.index-list>li{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;gap:var(--space-2);width:100%;padding:var(--space-2) 0;border-bottom:2px dotted var(--primary);}.index-list>li:first-of-type{border-top:2px dotted var(--primary);}.index-list .link>a{font-family:var(--display);font-size:var(--heading-1);text-transform:uppercase;line-height:1.1;color:var(--primary);}.arrow{width:.8em;height:auto;}</style>
<main id="main" tabindex="-1">
<p class="big-intro">
{{ intro }}
</p>
<ul class="index-list">
{% for post in posts -%}
<li>
<div class="link">
<a href="{{ post.url }}"><span class="list-item">{{ post.title }}<svg class="arrow" aria-hidden="true" viewBox="0 0 40 40" fill="currentColor"><path d="M0 37.07 36.9.16l2.94 2.93L2.94 40z"/><path d="M35.85 0H40v31.14h-4.15z"/><path d="M8.87 0H40v4.15H8.87z"/></svg></span></a>
</div>
<ul class="meta">
<li>
<time datetime="{{ post.date }}">{{ post.date | format_date }}</time>
</li>
<li>
<a href="/category-{{ post.category | slugify }}/">{{ post.category }}</a>
</li>
</ul>
</li>
{% endfor -%}
</ul>
<div class="pagination">
{% if pagination.total > 1 -%}
{% if pagination.has_prev -%}
<a href="{{ pagination.prev_url }}"><svg class="arrow" aria-hidden="true" viewBox="0 0 40 40" fill="currentColor"><path d="M40 37.07 3.1.16.16 3.09 37.06 40z"/><path d="M4.15 0H0v31.14h4.15z"/><path d="M31.13 0H0v4.15h31.13z"/></svg>Previous</a>
{% endif -%}
<span>Page {{ pagination.current }} of {{ pagination.total }}</span>
{% if pagination.has_next -%}
<a href="{{ pagination.next_url }}">Next<svg class="arrow" aria-hidden="true" viewBox="0 0 40 40" fill="currentColor"><path d="M0 37.07 36.9.16l2.94 2.93L2.94 40z"/><path d="M35.85 0H40v31.14h-4.15z"/><path d="M8.87 0H40v4.15H8.87z"/></svg></a>
{% endif -%}
{% endif -%}
</div>
</main>
{% endblock %}