{% extends "base.html" %}
{% block title %}{% if title != 'Home' %}{{ title }} - {% endif %}This Is A Blog{% endblock %}
{% block content %}
<main>
<h1 class="vh">This Is A Blog</h1>
<p class="index-intro big">
{{ intro }}
</p>
<ul class="index-list">
{% for post in posts -%}
<li>
<div class="link">
<a href="{{ post.url }}"><span>{{ post.title }}<svg class="arrow-up-rgt" viewBox="0 0 40 40" fill="currentColor"><path  d="M0 37.07 36.9.16l2.94 2.93L2.94 40z"/><path d="M35.85 0H40v31.14h-4.15z"/><path d="M8.87 0H40v4.15H8.87z"/></svg></span></a>
</div>
<div class="meta">
<span class="date">{{ post.date|format_date }}</span>
<span class="category">
<a href="/category-{{ post.category|slugify }}.html">{{ post.category }}</a>
</span>
</div>
</li>
{% endfor -%}
</ul>
<div class="pagination">
{% if pagination.total > 1 -%}
{% if pagination.has_prev -%}
<a href="{{ pagination.prev_url }}">← Previous</a>
{% endif -%}
<span>Page {{ pagination.current }} of {{ pagination.total }}</span>
{% if pagination.has_next -%}
<a href="{{ pagination.next_url }}">Next →</a>
{% endif -%}
{% endif -%}
</div>
</main>
{% endblock %}