{% extends "base.html" %}
{% block title %}{{ post.title }} - This Is A Blog{% endblock %}
{% block content %}
<main id="main" class="article" tabindex="-1">
<article>
<div class="post-intro">
<p class="date">{{ post.date|format_date }}</p>
<p class="category">
<a href="/category-{{ post.category|slugify }}/">{{ post.category }}</a>
</p>
<h1>{{ post.title }}</h1>
{% if post.subtitle %}
<h2>{{ post.subtitle }}</h2>
{% endif %}
</div>
<div class="post-content">
{{ post.content|safe }}
</div>
<nav class="post-navigation margins-off" aria-label="Post navigation">
{% if prev_post -%}
	<a class="prev" href="{{ prev_post.url }}" rel="prev" aria-label="Previous post: {{ prev_post.title }}">← {{ prev_post.title }}</a>
{% endif -%}
{% if next_post -%}
	<a class="next" href="{{ next_post.url }}" rel="next" aria-label="Next post: {{ next_post.title }}">{{ next_post.title }} →</a>
{% endif -%}
</nav>
</article>
</main>
{% endblock %}